aiohttp==1.0.5
async-timeout==2.0.1
asyncio==3.4.3
chardet==3.0.4
discord.py==0.16.12
greenlet==0.4.13
msgpack==0.5.6
multidict==4.1.0
websockets==3.4
gunicorn==19.7.1
python-twitch-client==0.5.1
discord.py[voice]
